.TaskItemCalandar {
    margin-top: 2px;
    border-top: 2px black solid;
    .taskgrid {
        display: grid;
        grid-template-columns: 30% 30% 30% ;
        gap: 5px;
        justify-content: space-around;
    }
    .selecttask{
        border-radius: 10%;
        padding: 5px;
        height: 50px;
        width: 80px;
        margin-left:50px;
        background-color: rgb(255, 204, 0);
        
    }
}