.profile{
    width: 80px;
    border-radius: 50%;
}
.Headtop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}
.MainRight{
    padding:10px;
}