.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    top: 20vh;
    left: 1%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    background-color: white;
}

.header {
    
    padding: 1rem;
    width: 100%;
}

.header h2 {
    margin: 0;
    color: white;
}

.content {
    padding: 3rem;
    height: 100%;
    width: 100%;
}

.actions {
    margin-top: 70px;
    padding: 1rem;
    display: flex;
    width: 100%;
    font-size: 20px;
    justify-content: center;
    background-color: rgb(255, 204, 0);
}

@media (min-width: 768px) {
    .modal {
        left: calc(50% - 20rem);
        width: 40rem;
    }
}