.LoginBottom {
    margin: 0 auto;
}



.LoginHome {
    background: linear-gradient(100deg, rgb(246, 246, 17), rgb(246, 12, 12));
    backdrop-filter: blur(5px);
    mix-blend-mode: overlay;

    align-items: center;
  
    height: 100%;
    width: 100%;

}

.Blob {
    width: 50px;

}

.login {
    width: 60%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
    align-items: center;

    justify-content: center;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.211); 


}
img{
    width: 20px;
}

.control {
    margin: 1rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.control label,
.control input {
    display: block;
}

.control label {
    font-weight: bold;
    flex: 1;
    color: #464646;
    margin-bottom: 0.5rem;
}

.control input {
    flex: 3;
    font: inherit;
    padding: 0.35rem 0.35rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.control input:focus {
    outline: none;
    border-color: #4f005f;
    background: #f6dbfc;
}

.control.invalid input {
    border-color: red;
    background: #fbdada;
}

.actions {
    text-align: center;
}

@media (min-width: 768px) {

    button{
        padding: 5px;
    }

    .LoginHome {
        height: 100vh;


    }


    .control {
        align-items: center;
        flex-direction: row;
    }

    .Blob {
        width: 100px;

    }

    .img{
        width: 20px;
    }
  

}